<template>
  <button
    class='ui-button'
    :class="[
        type ? 'ui-button__' + type : '',
        {
        'is-disabled': disabled,
        }
      ]"
    v-on="$listeners">
    <span v-if="$slots.default"><slot></slot></span>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    disabled: Boolean,
    /**
     * type props fill, and outline
     */
    type: {
      type: String,
      default: 'fill',
    },
  },
  methods: {}
}
</script>

<style lang='scss' scoped>
.ui-button {
  border-radius: 4px;
  padding: 14px 30px;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .2s;
  box-sizing: border-box;
  &__fill {
    background: #FF008A;
    color: #FFFFFF;
    &:hover {
      background-color:#F8F8F8;
      color:#FF008A;
      border: 1px solid #FF008A;
    }
  }
  &__outline {
    border-color: #FF008A;
    background-color: #F8F8F8;
    color: #FF008A;
    &:hover {
      background-color: #FF008A;
      color: #F8F8F8;
    }
  }
  &.is-disabled {
    pointer-events: none;
    opacity: 0.70;
  }
}
</style>
