<template>
  <div
    class="back-to"
    @click="toCurrentRout">
    <img src="~static/images/svg/back-icon.svg" alt="">
    <slot />
  </div>
</template>

<script>
export default {
  name: "BackTo",
  props: {
    to: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    toCurrentRout () {
      const { to, $router } = this
      if (!to || !$router) return
      $router.push(to)
    }
  }
}
</script>

<style lang="scss" scoped>
.back-to {
  width: fit-content;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FF008A;
  cursor: pointer;
  img {
    display: block;
    margin-right: 5px;
  }
}
</style>
