<template>
  <div class="textarea">
    <div v-if="label" class='textarea__label'>{{ label }}</div>

    <textarea
      ref="input"
      autocomplete="off"
      v-bind="{ ...$attrs }"
      :disabled='disabled'
      :class="['textarea__input', { resized: !resize }]"
      :value="value"
      :rows="rows"
      v-on="listeners"
    />
  </div>
</template>

<script>
export default {
  name: 'Textarea',
  props: {
    resize: Boolean,
    disabled: Boolean,
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    rows: {
      type: Number,
      default: 5,
    },
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: event => this.$emit('input', event.target.value)
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.textarea {
  width: 100%;
  &__label {
    @include text($fs: 24px, $fw: bold, $lh: 24px, $c: #3A3A3A);
    margin-bottom: 20px;
  }
  &__input {
    width: 100%;
    @include text($fs: 18px,$lh: 30px, $c: #000000);
    background: #FFFFFF;
    border: 1px solid #D1D1D6;
    border-radius: 8px;
    padding: 20px;
    transition: border-color 0.2s;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.5;
    }

    &.resized {
      resize: none;
    }

    &::-webkit-resizer {
      border: 20px solid transparent;
      border-right: 20px solid #b0bac7;
      border-bottom: 20px solid #b0bac7;
    }
  }
}

</style>
