<template>
  <footer class="footer">
    <div class="container footer__content">
      <div class="footer__text">2021 copyright all rights reserved</div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.footer {
  border-top: 1px solid #E8E8E8;
  padding: 30px 0 39px;
  box-sizing: border-box;
  &__content {}
  &__text {
    @include text($fs: 16px,$lh: 19px, $c: #000000, $fw: normal);
  }
}
</style>
