<template>
  <div class="pagination__block grid gap-4 grid-cols-4">
    <div
      class="pagination__btn prev" :class="{'disabled': page === 1}"
      @click="toCurrentPage(--page)"
    >
      <img src="~static/images/svg/pagination-prev-icon.svg" alt="">
    </div>
    <div
      v-for="item in total"
      :key="item"
      :class="['pagination__item', {'active': item === page}]"
      @click="toCurrentPage(item)"
    >
      {{ item }}
    </div>
    <div
      class="pagination__btn next" :class="{'disabled': page === 9}"
      @click="toCurrentPage(++page)"
    >
      <img src="~static/images/svg/pagination-next-icon.svg" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    total: {
      type: Number,
      default: 0,
    },
    perPage: {
      type: Number,
      default: 10,
    },
    currentPage: {
      type: Number,
      default: 1,
    }
  },
  data() {
    return {
      page:   this.currentPage || 1
    }
  },
  methods: {
    toCurrentPage(item) {
      this.$emit('nextPage', item)
    }
  },
  watch: {
    currentPage(val) {
      this.page = val
    }
  }
};
</script>
<style lang="scss">
@import "assets/scss/common/mixins";

.pagination {
  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
     @include text($fs: 14px, $fw: bold, $lh: 20px, $c: #000000);
     @include flx($align: center, $just: center);
     width: 32px;
     height: 32px;
     background: #FFFFFF;
     border: 1px solid #E2E2E2;
     border-radius: 4px;
     box-sizing: border-box;
     cursor: pointer;
  &:not(:last-child) {
     margin-right: 8px;
   }
  &.active {
     border-color: #FF008A;
     color: #FF008A;
   }
  }
  &__btn {
    @extend .pagination__item;
    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
  &__prev {}
  &__next {}
}
</style>
