body {
  overflow-x: hidden;
}
*,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1152px;
  padding: 0 90px;
  @media (max-width: 1024px) {
    padding: 0 70px;
  }
  @media (max-width: 720px) {
    padding: 0 40px;
  }
  @media (max-width: 500px) {
    padding: 0 16px;
  }
}
