<template>
  <div class="edit-text">
    <div v-if="!isTextEdit" class="edit-text__edit-btn">
      <img src="~static/images/svg/other-edit-icon.svg" alt="" class="edit-text__icon">
      <span @click="onClickEditText"> Редактировать текст </span>
    </div>
    <div v-else class="edit-text__wrapper">
      <Textarea v-model="textarea" />
      <div class="edit-text__action">
        <UiButton @click="onClickSaveChanges">Сохранить изменения</UiButton>
        <UiButton @click="onClickCancelEdit" type="outline">Отменить</UiButton>
      </div>
    </div>
  </div>
</template>

<script>
import Textarea from '@/components/ui/Textarea'
import UiButton from '@/components/ui/Button'
export default {
  name: "EditText",
  props: {
    isEdit: Boolean,
    editText: {
      type: String,
      default: ''
    }
  },
  components: {
    Textarea,
    UiButton,
  },
  data() {
    return {
      textarea: this.editText ||'',
      isTextEdit: false
    }
  },
  methods: {
    onClickEditText () {
      this.isTextEdit = true
      this.$emit('update:isEdit', true)
    },
    async onClickSaveChanges () {
      try{
        const { id } = this.$route.params
        const updatePostText = await this.$axios.$patch(`/posts/${id}`, {body: this.textarea})
        this.$store.commit('posts/updatePost', updatePostText)
        this.onClickCancelEdit()
      }catch (e){
        console.log(e);
      }
    },
    onClickCancelEdit () {
      this.isTextEdit = false
      this.$emit('update:isEdit', false)
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.edit-text {
  &__icon {
      margin-right: 22px;
  }
  &__edit-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 32px;
    & > span {
      @include text($fs: 14px,$lh: 12px, $c: #FF008A, $fw: 500);
    }
  }

  &__wrapper {
    margin-top: 30px;
  }

  &__action {
    margin-top: 30px;
    @media(max-width: 500px) {
      display: flex;
      flex-direction: column;
      ::v-deep.ui-button {
        &__outline {
          margin-top: 10px;
        }
      }
    }
  }
}
</style>
