<template>
  <div class="title">
    По вашему запросу ничего не найдено
  </div>
</template>

<script>
export default {
  name: "EmptyPost"
}
</script>

<style lang="scss" scoped>
.title {

}
</style>
