<template>
  <div class="one-post">
    <div class="container one-post__top">
      <BackTo :to="{path: '/'}">Назад</BackTo>
      <span>Пост</span>
    </div>
    <img src="~static/images/one-post-image.png" alt="" class="one-post__image-mobile">
    <div class="container">
      <img src="~static/images/one-post-image.png" alt="" class="one-post__image">
      <div class="one-post__title"> {{ getCurrentPost.title }} </div>
      <div v-if="!isEdit" class="one-post__description">
        {{ getCurrentPost.body }}
      </div>

      <EditText
        :is-edit.sync="isEdit"
        :edit-text="getCurrentPost.body" />

      <PostComment :post-comment="getPostComment"/>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PostComment from '@/components/template/CurrentPost/Comment'
import EditText from '@/components/template/CurrentPost/EditText'
import BackTo from '@/components/common/BackTo'
export default {
  name: "OnePost",
  components: {
    PostComment,
    EditText,
    BackTo
  },
  data () {
    return {
      isEdit: false,
    }
  },
  async fetch({ $axios, error, params, store }) {
    try{
      const { id } = params
      const currentPost = await $axios.$get(`/posts/${id}`)
      const comments = await $axios.$get(`/posts/${id}/comments`)
      store.commit('posts/setCurrentPost', currentPost)
      store.commit('posts/setPostComment', comments)
    }catch (e){
      error({statusCode: e.response?.status || 400, message: e.message})
      throw e
    }
  },
  computed: {
    ...mapGetters('posts', ['getCurrentPost', 'getPostComment'])
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.one-post {
  &__image {
    width: 100%;
    &-mobile {
      display: none;
    }
  }
  &__top {
    position: relative;
    @include flx($align: center);
    display: none;
    margin-bottom: 10px;
    & > span {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      @include text($fs: 18px, $fw: 600, $lh: 24px, $c: #000000);
      text-align: center;
      color: #000000;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 25px 0 30px;
    border-bottom: 1px solid #D1D1D6;
  }
  &__description {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(60, 60, 67, 0.6);
    margin-top: 30px;
  }

  @media(max-width: 720px) {
    &__top {
      display: block;
    }
    &__image {
      display: none;
      &-mobile {
        width: 100%;
        object-fit: cover;
        display: block;
        height: 300px;
      }
    }
    &__title {
      margin: 25px 0 30px;
    }
  }

}
</style>
