<template>
  <div class="comment">

    <div class="comment__headline">Комментарии</div>

    <div class="comment__container">
      <div
        v-for="(comment, key) in  PostComment"
        :key="key"
        class="comment__item"
      >
        <img src="~static/images/comment-avatar.png" alt="" class="comment__image">
        <div>
          <div class="comment__name"> {{ comment.name }} </div>
          <div class="comment__text"> {{ comment.body }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Comment",
  props: {
    PostComment: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../../assets/scss/common/mixins";
.comment {
  margin-top: 34px;
  margin-bottom: 34px;
  &__headline {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
  }
  &__container {
    margin-top: 38px;
  }
  &__item {
    @include flx($align: flex-start);
    margin-top: 30px;
  }
  &__image{
    margin-right: 12px;
  }
  &__name{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  &__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(60, 60, 67, 0.6);
    margin-top: 10px;
  }
}
</style>
