<template>
  <div class="posts">
    <div class="container">
      <div class="posts__container">
        <template v-if="getPosts.length">
          <PostCard
            v-for="item in getPosts"
            :key="item.id"
            :post="item"
            @currentPost="toCurrentPost"
          />
        </template>
        <template v-else>
          <EmptyPost />
        </template>

      </div>

      <div v-if="getPosts.length" class="posts__pagination pagination">
        <Pagination
          @nextPage="toCurrentPage"
          :total="totalPages"
          :current-page="page"
        />
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import PostCard from '@/components/common/PostCard'
import EmptyPost from '@/components/common/EmptyPost'
import Pagination from '@/components/common/Pagination';
export default {
  name: 'HomePage',
  components: {
    PostCard,
    Pagination,
    EmptyPost
  },
  data() {
    return {
      pageLimit: 12,
      page: 1,
      total: 100
    }
  },
  async fetch({$axios, error, store}) {
    try{
      const posts = await $axios.$get(`/posts?_embed=comments&_page=1&_limit=12`)
      store.commit('posts/setPostList', posts)
    }catch (e){
      error({statusCode: e.response?.status || 400, message: e.message})
      throw e
    }
  },
  computed: {
    ...mapGetters('posts', ['getPosts']),
    totalPages() {
      return Math.ceil(this.total / this.pageLimit);
    },
  },
  methods: {
    ...mapMutations('posts', ['setPostList']),
    async getPostsByPagination() {
      try{
        const posts = await this.$axios.$get(`/posts?_embed=comments&_page=${this.page}&_limit=${this.pageLimit}`)
        this.setPostList(posts)
      } catch (e) {
        this.error({statusCode: e.response?.status || 400, message: e.message})
        throw e
      }
    },
    toCurrentPage(item) {
      this.page = item;
      this.getPostsByPagination();
    },
    toCurrentPost(event) {
      this.$router.push(`/${event}`)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.posts {
  margin-bottom: 50px;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23px;
    grid-row-gap: 40px;
    @media(max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__pagination {
    @include flx($align: center, $just: flex-end);
    margin-top: 40px;
  }
}
</style>
