<template>
  <div class="input">
    <input
      class="input__inner"
      :type="type"
      :value="value"
      v-bind="$attrs"
      :disabled="disabled"
      placeholder="Поиск"
      v-on="listeners"
    />
  </div>
</template>

<script>
export default {
  name: 'Input',
  props: {
    value: [String, Number],
    disabled: Boolean,
    type: {
      type: String,
      default: 'text',
    },
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: (event) => this.$emit('input', event.target.value),
      }
    },
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  height: 100%;
  position: relative;
  &__inner {
    width: 100%;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    padding: 14px 36px;
    background: rgba(60, 60, 67, 0.1);
    border-radius: 10px;
    border: none;
    &:disabled {
      background: #f6f5f5;
    }
    @media(max-width: 720px) {
      padding: 7px 16px;
    }
  }
}
</style>
