<template>
  <header class="header">
    <div class="container header__content">
      <router-link tag="a" to="/" class="header__logo">
        <img src="~static/images/svg/logo-icon.svg" alt="" >
      </router-link>
      <div class="header__right">
        <UiInput v-model="search" @input="isTyping = true"/>
        <div class="header__action">
          <router-link to="/" tag="a">
            <img src="~static/images/svg/posts-icon.svg" alt="">
            Посты
          </router-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import  UiInput from '@/components/ui/Input'
import {mapMutations} from "vuex";
export default {
  name: "Header",
  components: {
    UiInput
  },
  data() {
    return {
      isTyping: false,
      search: ''
    }
  },
  methods: {
    ...mapMutations('posts', ['setPostList']),
    async getPostsBySearchName(name) {
      try{
        const posts = await this.$axios.$get(`/posts?_embed=comments&q=${name}&_limit=12`)
        this.setPostList(posts)
      } catch (e) {
        this.error({statusCode: e.response?.status || 400, message: e.message})
        throw e
      }
    }
  },
  watch: {
    search: function (value) {
      setTimeout(() => {
        this.isTyping = false;
      }, 1000)
    },
    isTyping: function (value) {
      if (!value) {
        this.getPostsBySearchName(this.search)
      }
    },
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.header {
  padding: 24px 0;
  box-sizing: border-box;
  &__logo {
    @include flx($align: center);
    cursor: pointer;
  }
  &__right {
    @include flx($align: center);
  }
  &__content {
    @include flx($just: space-between);


  }
  &__action {
    @include flx($align: center);
    margin-left: 92px;
    @media(max-width: 1000px) {
      margin-left: 40px;
    }
    a {
      @include text($fs: 14px,$lh: 12px, $c: #FF008A, $fw: 500);
      margin-left: 7px;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  @media(max-width: 720px) {
    &__logo {
      @include flx($align: center, $just: center);
    }
    &__right {
      margin-top: 10px;
    }
    &__content {
      @include flx($dir: column,$just: space-between);
    }

  }
}
</style>
