<template>
  <div class="post">
    <div>
      <div class="post__image"></div>
      <div class="post__content">
        <div class="post__title" @click="onClickMoreInfo(post.id)">{{ post.title }}</div>
        <div class="post__description">{{ getPostDescription(post.body) }}</div>
      </div>
    </div>

    <div class="post__footer">
      <div class="post__message">
        <img src="~static/images/svg/chat-icon.svg" alt="" class="post__icon-chat">
        <span class="post__message-count">{{ post.comments.length }}</span>
      </div>
      <img src="~static/images/svg/edit-icon.svg" alt="" class="post__icon-edit">
    </div>
  </div>
</template>

<script>
export default {
  name: "PostCard",
  props: {
    post: {
      type: Object,
      default: () =>{}
    }
  },
  methods: {
    getPostDescription(desc) {
      let maxLength = 60
      let trimmedString = desc.substr(0, maxLength);
      if (desc.length > trimmedString.length) {
        trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) + ' ...'
      }
      return trimmedString
    },
    onClickMoreInfo(id) {
      this.$emit('currentPost', id)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "assets/scss/common/mixins";
.post {
  @include flx($dir: column, $just: space-between);
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  &__image {
    width: 100%;
    height: 200px;
    background: url("~static/images/post-image.png") no-repeat center;
  }
  &__content {
    padding: 7px 16px 14px;
  }
  &__title {
    @include text($fs: 24px, $fw: bold, $lh: 28px, $c: #000000);
    cursor: pointer;
  }
  &__description {
    @include text($fs: 17px, $fw: normal, $lh: 22px, $c: rgba(60, 60, 67, 0.6));
    margin-top: 8px;
  }
  &__footer {
    @extend .post__content;
    display: flex;
    margin-top: 22px;
  }
  &__message {
    @include flx($align: center);
    &-count {
      @include text($fs: 17px, $fw: normal, $lh: 24px, $c: rgba(60, 60, 67, 0.6));
    }
  }
  &__icon {
    &-chat {
      margin-right: 12px;
    }
    &-edit {
      margin-left: 34px;
    }
  }
}
</style>
