@mixin flx($d: flex, $just: '', $align: '', $dir: '', $w: '') {
  display: $d;

  @if $just != '' {
    justify-content: $just;
  }

  @if $align != '' {
    align-items: $align;
  }

  @if $dir != '' {
    flex-direction: $dir;
  }

  @if $w != '' {
    flex-wrap: $w;
  }
}
@mixin text($fs: 14px, $fw: 400, $lh: '', $c: '') {
  font-size: $fs;
  font-weight: $fw;

  @if $lh != '' {
    line-height: $lh;
  }

  @if $c != '' {
    color: $c;
  }
}
